<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>GACHA SIMULATOR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>GACHA SIMULATOR</h1>
    <a href="{{ url_for('gacha') }}">ガチャを引く</a><br>
    <a href="{{ url_for('gacha_11') }}">11連ガチャを引く</a><br>
    <a href="{{ url_for('total') }}">累計結果を見る</a><br>
    <a href="{{ url_for('simulate') }}">全種類のSR+が出るまでシミュレーション</a><br>
    <a href="{{ url_for('reset') }}">リセット</a><br>
    <a href="{{ url_for('load_results') }}">保存されたガチャ結果を見る</a>
    <BR>
    画像の配布元は以下のサイトになります。<BR>
    **星宝転生ジュエルセイバーよ永遠に**より "ジュエルセイバーFREE"<BR>
    [http://www.jewel-s.jp/about/](http://www.jewel-s.jp/about/)
    <footer>
        <h2>当選確率</h2>
        <p>カードは以下の確率で入手できます。</p>
        <ul>
            <li>N: 33%</li>
            <li>N+: 25%</li>
            <li>R: 20%</li>
            <li>R+: 15%</li>
            <li>SR: 5%</li>
            <li>SR+: 2%</li>
        </ul>
         <h2>11連ガチャの当選確率</h2>
         <p>11連ガチャでは以下の確率で入手できます。最後の１枚は必ずSRです。</p>
         <ul>
            <li>R: 57%</li>
            <li>R+: 30%</li>
            <li>SR: 10%</li>
            <li>SR+: 3%</li>
        </ul>
        <h2>カードの種類</h2>
        <p>カードは以下の種類です。</p>
        <ul>
            <li>N: 20種類</li>
            <li>N+: 20種類</li>
            <li>R: 15種類</li>
            <li>R+: 15種類</li>
            <li>SR: 10種類</li>
            <li>SR+: 10種類</li>
        </ul>
    </footer>
</body>
</html>