<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>GACHA SIMULATOR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>GACHA SIMULATOR</h1>
    <a href="{{ url_for('gacha') }}">ガチャを引く</a><br>
    <a href="{{ url_for('gacha_11') }}">11連ガチャを引く</a><br>
    <a href="{{ url_for('total') }}">累計結果を見る</a><br>
    <a href="{{ url_for('simulate') }}">全種類のSR+が出るまでシミュレーション</a><br>
    <a href="{{ url_for('reset') }}">リセット</a><br>
    <a href="{{ url_for('load_results') }}">保存されたガチャ結果を見る</a>

    <footer>
        <h2>当選確率</h2>
        <p>カードは以下の確率で入手できます。</p>
        <ul>
            <li>N: 40%</li>
            <li>N+: 30%</li>
            <li>R: 20%</li>
            <li>R+: 9%</li>
            <li>SR: 0.7%</li>
            <li>SR+: 0.3%</li>
        </ul>
        <h2>カードの種類</h2>
        <p>カードは以下の90種類です。</p>
        <ul>
            <li>N: 20種類</li>
            <li>N+: 20種類</li>
            <li>R: 15種類</li>
            <li>R+: 15種類</li>
            <li>SR: 10種類</li>
            <li>SR+: 10種類</li>
        </ul>
    </footer>
</body>
</html>
